{% extends '@ApiPlatformDoc/base.html.twig' %}

{% block body %}
    {% for resource in resources %}
        <div style="margin: 50px 0">
            <h2>{{ resource.shortName }}</h2>

            <h3 style="font-weight: normal; margin: 30px 0;">Item Operations</h3>

            <hr>

            {% for key, operation in resource.itemOperations %}
                <div style="margin: 30px 0; padding-bottom: 30px; border-bottom: 1px dashed;">
                    <p style="font-style: italic">{{ operation.openapi_context.description }}</p>
                    <div style="display: flex; align-items: center;">
                        <div style="background: {% if operation.method == 'GET' %}#77A6F7{% elseif operation.method == 'PUT' %}#FFCB6D{% elseif operation.method == 'POST' %}#B8EC65{% elseif operation.method == 'DELETE' %}#FF7B6D{% endif %};
                        padding: 8px 20px; border-radius: 10px; color: white; margin-right: 15px;">{{ operation.method }}</div>
                        <p>{{ operation.route }}</p>
                    </div>
{#                    <p><b>{{ key }}</b></p>#}
{#                    <p>#}
{#                        <b>Method:</b> {{ operation.method }}<br>#}
{#                        <b>Route:</b> {{ operation.route }}<br>#}
{#                        <b>Description:</b> {{ operation.openapi_context.description }}<br>#}
{#                    </p>#}
                </div>
            {% endfor %}

            <h3 style="font-weight: normal; margin: 30px 0;">Collection Operations</h3>

            <hr>

            {% for key, operation in resource.collectionOperations %}
                <div style="margin: 30px 0; padding-bottom: 30px; border-bottom: 1px dashed;">
                    <p style="font-style: italic">{{ operation.openapi_context.description }}</p>
                    <div style="display: flex; align-items: center;">
                        <div style="background: {% if operation.method == 'GET' %}#77A6F7{% elseif operation.method == 'PUT' %}#FFCB6D{% elseif operation.method == 'POST' %}#B8EC65{% elseif operation.method == 'DELETE' %}#FF7B6D{% endif %};
                        padding: 8px 20px; border-radius: 10px; color: white; margin-right: 15px;">{{ operation.method }}</div>
                        <p>{{ operation.route }}</p>
                    </div>
                    {#                    <p><b>{{ key }}</b></p>#}
                    {#                    <p>#}
                    {#                        <b>Method:</b> {{ operation.method }}<br>#}
                    {#                        <b>Route:</b> {{ operation.route }}<br>#}
                    {#                        <b>Description:</b> {{ operation.openapi_context.description }}<br>#}
                    {#                    </p>#}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}